@media screen and (max-width: 760px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main{
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    h2{
        font-size: 24px;
        text-align: center;
    }

    p{
        text-align: justify;
    }

    form{
        margin: 0 auto;
        width: 100%;
        max-width: 300px;
    }

    input{
        max-width: 100%;
        align-self: center;
        display: block;
    }

    img{
        max-width: 300px;
        display: block;
        margin: 20px auto;
    }

    ul{
        text-align: center;
        padding-left: 0;
    }

    ul li{
        display: inline-block;
    }
}